# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/artifacts
/.openzeppelin
/cache

# testing


# production


# misc

# Local Netlify folder

